# phpstorm keeps settings in idea
.idea

# api keys
chmp/apikeys.php

# templates are project specific
chmp/templates/*
!chmp/templates/example.html

# assets and content are created by the editor
chmp/assets/files/*
chmp/assets/images/*
chmp/assets/images_originals/*
chmp/assets/images_temp/*
chmp/assets/images_upload/*
chmp/content/*

# skip minimized js and css files
chmp/js/production.min.js
chmp/js/editor.min.js
chmp/editordesign/chmp.min.css

# assets for the templates should not be included in git
css
test
pic
pics
js
jstest
scripts

# This is required for the plugin
chmp/plugins/swift/*