/*
Chmp css:

- - - - - - -           Namespaced, for pages that show other design (ie templates)
						All classes named .chmp- ...
chmp_notloggedin.css    For production, design for login popup
chmp.css                Main css, for logged in, iframes and backend


Not namespaced          For pages that does not show other design, like structure, files etc.
chmp_in_iframe.css      For image editor
chmp_inside.css         For "backend" pages, like structure

*/


div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, label, legend, caption, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark {
	font-family: "Helvetica", "Arial", sans-serif;
}


html, body {
	height: 100%;
}

body {
	/* set printing to include background images*/
	-webkit-print-color-adjust: exact;
	background-color: #f0f0f0;
}

.admin_bg {
	background-color: #fff;
	min-height: 100%;
	width: 1002px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .35);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .35);
	box-shadow: 0 0 3px rgba(0, 0, 0, .35);
}

.admin_content {
	padding: 31px 26px 10px 29px;
}

.admin_headline {
	height: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #f5f5f5;
}

.admin_unsaved {
	font-size: 10px;
	padding: 7px 0 0 0;
}

.admin_headline h1 {
	font-size: 18px;
	font-weight: normal;
	padding: 11px 0 0 9px;
}

.admin_left {
	float: left;
	width: 647px;
	margin: 0 26px 0 0;
}

.admin_right {
	width: 273px;
	float: left;
}

.admin_right_box {
	margin: 0 0 10px 0;
}

.admin_right_headline {
	background: #eee;
}

.admin_right_headline h2 {
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
	margin: 10px 0 10px 10px;
}

.admin_right_collaps {
	float: right;
	background: url(chmpsprites.png) no-repeat 0 -640px;
	background-size: 32px 1000px;
	width: 15px;
	height: 8px;
	margin: 10px 10px 0 0;
}

.admin_right_content {
	background-color: #f5f5f5;
	padding: 10px;
}

.clear {
	clear: both;
}

.vmargin {
	margin: 0 0 10px 0;
}

/* end project starting kit */

/* Nestable
*/

.dd {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	max-width: 600px;
	list-style: none;
	font-size: 13px;
	line-height: 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dd-list {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.dd-list .dd-list {
	padding-left: 30px;
}

.dd-collapsed .dd-list {
	display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	min-height: 20px;
	font-size: 13px;
	line-height: 20px;
}

.dd-handle {
	display: block;
	height: 30px;
	margin: 5px 0;
	padding: 5px 10px;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.dd-handle:hover {
	color: #2ea8e5;
	background: #fff;
}

.dd-item > button {
	display: block;
	position: relative;
	cursor: pointer;
	float: left;
	width: 25px;
	height: 20px;
	margin: 5px 0;
	padding: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	border: 0;
	background: transparent;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	font-weight: bold;
}

.dd-item > button:before {
	content: '+';
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
	content: '-';
}

.dd-placeholder,
.dd-empty {
	margin: 5px 0;
	padding: 0;
	min-height: 30px;
	background: #f2fbff;
	border: 1px dashed #b6bcbf;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.dd-empty {
	border: 1px dashed #bbb;
	min-height: 30px;
	height: 64px;

	color: #d5d5d5;
	padding: 10px 0 0 10px;
}
.chmp_ico_trash {
	width: 32px;
	height: 38px;
	background: url(chmpsprites.png) no-repeat 0 -832px;
	background-size: 32px 1000px;
	float: left;
	margin: 0 5px 0 0;
}


.dd-dragel {
	position: absolute;
	pointer-events: none;
	z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
	margin-top: 0;
}

.dd-dragel .dd-handle {
	-webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
	box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

/**
 * Nestable Extras
 */

.nestable-lists {
	display: block;
	clear: both;
	padding: 30px 0;
	width: 100%;
	border: 0;
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
}

#nestable-menu {
	padding: 0;
	margin: 20px 0;
}

#nestable-output,
#nestable2-output {
	width: 100%;
	height: 7em;
	font-size: 0.75em;
	line-height: 1.333333em;
	font-family: Consolas, monospace;
	padding: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.dd-hover > .dd-handle {
	background: #2ea8e5 !important;
}

/**
 * Nestable Draggable Handles
 */

.dd3-content {
	display: block;
	height: 30px;
	margin: 5px 0;
	padding: 5px 10px 5px 40px;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #eaeaea;
	/*
	-webkit-box-shadow: inset 0 -1px rgba(0,0,0,.27);
	-moz-box-shadow: inset 0 -1px rgba(0,0,0,.27);
	box-shadow: inset 0 -1px rgba(0,0,0,.27);
	*/
	border-bottom: 1px solid #ababab;

}

.dd3-content:hover {
	/*background: #dbdbdb;*/
	cursor: pointer;
}

.dd-dragel > .dd3-item > .dd3-content {
	margin: 0;
}

.dd3-item > button {
	margin-left: 30px;
}

.dd3-handle {
	position: absolute;
	margin: 0;
	left: 0;
	top: 0;
	cursor: pointer;
	width: 30px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: #dbdbdb;
	border-bottom: 1px solid #ababab;
	border-radius: 3px 0px 0px 3px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dd3-handle:before {
	content: '≡';
	display: block;
	position: absolute;
	left: 0;
	top: 3px;
	width: 100%;
	text-align: center;
	text-indent: 0;
	color: #fff;
	font-size: 20px;
	font-weight: normal;
}

.dd3-handle:hover {
	background: #4f4f4f;
	cursor: move;
}

/* end Nestable*/

/* Structure */

.chmp-struct-title {
	display: table;
	float: left;
}

.chmp-struct-title div {
	display: table-cell;
}

.chmp-struct-goto {
	float: right;
}

.chmp-struct-goto a {
	font-family: Helvetica;
	font-size: 11px;
	color: #000;
}

.chmp-struct-icon {
	width: 22px;
	height: 18px;
}

.chmp-struct-text {
	font-family: Helvetica;
	font-size: 11px;
	padding: 0 6px 0 0;
}

.chmp-struct-skip-icon {
	width: 16px;
	height: 18px;
}

.chmp-struct-published .chmp-struct-icon {
	background: url(chmpsprites.png) no-repeat 2px -479px;
	background-size: 32px 1000px;
}

.chmp-struct-edited .chmp-struct-icon {
	background: url(chmpsprites.png) no-repeat 2px -511px;
	background-size: 32px 1000px;
}

.chmp-struct-unpublished .chmp-struct-icon {
	background: url(chmpsprites.png) no-repeat 0 -544px;
	background-size: 32px 1000px;
}

.chmp-struct-published .chmp-struct-text, .chmp-struct-edited .chmp-struct-text {
	font-weight: bold;
}

.chmp-struct-skip .chmp-struct-skip-icon {
	background: url(chmpsprites.png) no-repeat 0 -571px;
	background-size: 32px 1000px;
}

.chmp-struct-skip .chmp-struct-text {
	font-style: italic;
	font-weight: normal;
}

.chmp-struct-hidden {
	background: #f4f4f4;
	border-bottom: 1px solid #cfcfcf;
}

.chmp-struct-hidden .chmp-struct-title, .chmp-struct-hidden .chmp-struct-goto {
	opacity: 0.5;
}

.chmp-struct-hidden-handle {
	background: #ededed;
	border-bottom: 1px solid #cfcfcf;
}

.chmp-struct-hidden .chmp-struct-text {
	font-weight: normal;
}

.chmp-struct-active {
	background-color: #9dd5a6 !important;
}
.chmp-struct-active .chmp-struct-text {
	color: #fff;
	font-weight: bold;
}
.chmp-struct-active .chmp-struct-goto a {
	color: #fff;
}

/* chmp form */
.form_table {
	display: table;
	font-size: 11px;
	width: 100%;
}

.form_col {
	display: table-column;
}

.form_row {
	display: table-row;
	height: 30px;
}

.form_row_head div {
	vertical-align: bottom !important;
	padding: 0 0 3px 0;
}

.form_cell {
	display: table-cell;
	vertical-align: text-bottom;
	height: 30px;
}

.form_rigth {
	text-align: right;
}

.form_center {
	text-align: center;
}

.chmp_form_name {
	font-weight: bold;
}

.chmp_form input, .chmp_form select, .chmp_form_input {
	min-width: 148px;
	width: 100%;
	height: 22px;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	-webkit-box-shadow: inset 0 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 1px rgba(0, 0, 0, .2);
	box-shadow: inset 0 1px rgba(0, 0, 0, .2);
	padding: 0 2px 0 5px;
}

.chmp_form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff url(chmpsprites.png) no-repeat right -696px;
	background-size: 32px 1000px;
}

.chmp_form select:focus, .chmp_form input:focus {
	outline: 0;
	box-shadow: 0 1px rgba(0, 0, 0, .2);
}

.chmp_form_subheadline {
	font-size: 11px;
	font-weight: bold;
	margin: 0 0 10px 0;
}

.chmp_form_wide {
	font-size: 11px;
	margin: 0 0 10px 0;
}

/* checkbox */

input[type=checkbox].chmp-checkbox {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[type=checkbox].chmp-checkbox + label.chmp-label {
	padding-left: 20px;
	height: 16px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	font-size: 12px;
	vertical-align: middle;
	cursor: pointer;
}

input[type=checkbox].chmp-checkbox:checked + label.chmp-label {
	background: url(chmpsprites.png) no-repeat 0 -800px;
	background-size: 32px 1000px;
}

.chmp-label {
	background: url(chmpsprites.png) no-repeat 0 -768px;
	background-size: 32px 1000px;
	font-size: 11px;
}

.chmp-label-small {
	font-size: 10px !important;
}

#struct_delete_headline {
	margin: 20px 0 0 0;
	font-size: 11px;
}

#alias_loading {
	float: right;
	margin: 0 5px 0 0;
}

.login_holder {
	margin: 10px !important;
}

.login_holder td {
	padding: 8px 8px 0 0;
}
.loginerror {
	margin: 10px;
	color: #be1313;
	background: url(chmpsprites.png) no-repeat 0 -870px;
	background-size: 32px 1000px;
}
.loginerror p {
	margin: 2px 0 0 24px;
}