/*
		Since the editor is ment to be used together with the rest of the site design,
		we include a lot of resets and attributes that may seem redundant at first,
		but are ment to increse compability with all kinds of other css.
*/

.chmp {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: 10px;
	text-decoration: none;
	color: #000;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.chmp-edit-contentarea, .chmp-edit-module, .chap-edit-holder, .chmp-move-modules {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	position: relative;
	list-style-type: none;
}

/* powertip will be able to add a class in the next version. Change to .chmp for most values */
#chmp-powerTip, .chmp-powerTip {
	cursor: default;
	background-color: #4f4f4f;
	border-radius: 3px;
	color: #fff;
	padding: 8px;
	position: absolute;
	white-space: nowrap;
	z-index: 2147483647;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	margin: 0;
	border: 0;
	outline: 0;
	font-size: 10px;
	line-height: 10px;
}

.chmp-powerTip-img {
	top: 10px;
	left: 10px;
}

.chmp-close {
	background: url(chmpsprites.png) no-repeat 0 -96px;
	background-size: 32px 1000px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -5px;
	right: -5px;
	cursor: pointer;
}

.chmp-input-small {
	display: inline-block;
	width: 140px;
	border-radius: 3px;
}

.chmp-input-dynamic {
	display: inline-block;
	padding: 0 12px 0 10px;
	border-radius: 3px;
}

.chmp-tooltip-element {
	margin: 0 0 8px 0;
	color: #fff;
}

.chmp-input {
	color: #000;
}

.chmp-tooltip-element a {
	color: #fff;
	text-decoration: underline;
}

.chmp-tooltip-element label {
	color: #fff;
}

#chmp-powerTip .chmp-tooltip-element:last-child {
	margin: 0;
}

.chmp-tooltip-headline {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}

.chmp-input-text {
	height: 24px;
	background-color: #e3e3e3;
	padding: 0 3px 0 3px;
}

.chmp-submit, .chmp-button {
	background: #42ac43;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	height: 24px;
	background-color: #42ac43;
	-webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, .75);
	-moz-box-shadow: inset 0 -1px rgba(0, 0, 0, .75);
	box-shadow: inset 0 -1px rgba(0, 0, 0, .75);
	cursor: pointer;
}

.chmp-submit-inactive {
	opacity: 0.5;
}

.chmp-button {
	background: #767676;
}

.chmp-submit p, .chmp-submit div, .chmp-button p, .chmp-button div {
	padding: 6px 0 0 0;
	text-align: center;
	color: #fff;
	margin: 0;
}

.chmp-submit p span, .chmp-submit div span, .chmp-button p span, .chmp-button div span {
	color: #fff;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
}

.chmp-singleline {
	float: left;
}

.chmp-clear {
	clear: both;
}

.chmp-editable-img {
	cursor: pointer;
	cursor: url(arrow-edit.png) 0 1, pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.chmp-edit-holder {
	position: relative;
}

.chmp-editable-img-btn {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 10000;
}

.chmp-start-hidden {
	display: none;
}

/* navigation */

.chmp-navigation-holder {
	height: 36px;
	width: 100%;
	position: relative;
}

.chmp-navigation {
	position: absolute;
	z-index: 2147483630;
	top: 0;
	left: 0;
	height: 36px;
	width: 100%;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	background-color: #4f4f4f;
	-webkit-box-shadow: 0 1px 4px #000;
	-moz-box-shadow: 0 1px 4px #000;
	box-shadow: 0 1px 4px #000;
}

.chmp-nav-edit {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	padding: 0 10px 0 10px;
}

.chmp-nav-part {
	float: left;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	margin: 0 10px 0 0;
}

.chmp-nav-right {
	float: right;
	height: 36px;
	border-left: 1px solid #272727;
	padding: 0 0 0 15px;
}

.chmp-nav-part-text p {
	margin: 12px 0 0 0;
}

.chmp-nav-part-btn {
	padding: 6px 0 0 0;
}

.chmp-nav-part-flag {
	padding: 1px 0 0 0;
}

/* edit on off */

.chmp-nav-onoff-holder {
	margin: 5px 0 0 0;
}

.chmp-nav-onoff {
	display: inline-block;
	height: 24px;
	border-radius: 12px;
	padding: 3px;
}

.chmp-nav-onoff-on {
	background: #46aa37;
}

.chmp-nav-onoff-off {
	background: #c93f2d;
}

.chmp-nav-onoff-inner {
	background: #bababa;
	height: 18px;
	border-radius: 9px;
}

.chmp-nav-onoff-btn {
	display: inline-block;
	height: 18px;
}

.chmp-nav-onoff-on .chmp-nav-btn-on {
	background: #fff;
	border-radius: 9px;
	padding: 4px 6px 0 6px;
}

.chmp-nav-onoff-on .chmp-nav-btn-off {
	padding: 4px 6px 0 0;
	cursor: pointer;
}

.chmp-nav-onoff-off .chmp-nav-btn-on {
	padding: 4px 0 0 6px;
	cursor: pointer;
}

.chmp-nav-onoff-off .chmp-nav-btn-off {
	background: #fff;
	border-radius: 9px;
	padding: 4px 6px 0 6px;
}

/* end edit on off */

/*expandable button*/
.chmp-button-expandable {
	display: inline-block;
	position: relative;
	height: 24px;
}

.chmp-input-expand-btn {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2147483640;
}

.chmp-button-expandable {
	min-width: 140px;
}

.chmp-input-expand {
	position: absolute;
	z-index: 2147483639;
	height: 24px;
	-webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, .75);
	-moz-box-shadow: inset 0 -1px rgba(0, 0, 0, .75);
	box-shadow: inset 0 -1px rgba(0, 0, 0, .75);
	cursor: pointer;
	border-radius: 0px 3px 3px 0px;
	top: 0;
	left: 3px; /*Fixes the shadow bottom left*/
	background: #080;
	
	/*border-left: 1px solid #000;*/
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.chmp-input-expanded1 {
	border-radius: 3px 0px 0px 3px !important;
}

.chmp-input-expanded2 {
	left: 140px;
}

.chmp-input-expand p {
	color: #fff;
	margin: 6px 0 0 0;
	font-weight: bold;
	padding: 0 10px 0 10px;
	white-space: nowrap;
}

.chmp-input-confirm {
	color: #fff;
}

.chmp-input-cancel {
	color: #bce5b5;
}

/*end expandable button*/

/* show hide navigation*/
.chmp-nav-showhide-btn {
	width: 36px;
	height: 36px;
	padding: 14px 0 0 12px;
	position: absolute;
	z-index: 2147483641;
	top: 0;
	left: 0;
	background-color: #4f4f4f;
	border-right: 1px solid #272727;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* if navigation is floating we add extra padding */
.chmp-nav-float {
	padding: 0 10px 0 50px !important;
}

.chmp-nav-float-hide {
	top: -36px !important;
}

.chmp-nav-shadow {
	border-bottom: 1px solid #272727;
	-webkit-box-shadow: 0 1px 4px #000;
	-moz-box-shadow: 0 1px 4px #000;
	box-shadow: 0 1px 4px #000;
}

/*end show hide navigation*/

/* saving */
.chmp-save-icon {
	margin: 8px 0 0 0;
}

/* icons */

.chmp-ico-w-text {
	margin: 5px 0 0 0 !important;
	padding: 0 0 0 18px !important;
}

.chmp-ico-w-text span {
	line-height: 14px;
	font-size: 11px;
}

.chmp-ico-leftarrow {
	background: url(chmpsprites.png) no-repeat 0 -128px;
	background-size: 32px 1000px;
	min-width: 10px;
	min-height: 10px;
}

.chmp-ico-rightarrow {
	background: url(chmpsprites.png) no-repeat 0 -160px;
	background-size: 32px 1000px;
	min-width: 10px;
	min-height: 10px;
}

.chmp-ico-downarrow {
	background: url(chmpsprites.png) no-repeat 0 -192px;
	background-size: 32px 1000px;
	min-width: 10px;
	min-height: 10px;
}

.chmp-ico-uparrow {
	background: url(chmpsprites.png) no-repeat 0 -224px;
	background-size: 32px 1000px;
	min-width: 10px;
	min-height: 10px;
}

.chmp-ico-settings {
	background: url(chmpsprites.png) no-repeat 0 -256px;
	background-size: 32px 1000px;
	min-width: 12px;
	min-height: 12px;
}

/*
Drag and drop modules
*/

.chmp-edit-module:hover {
	outline: 1px dashed #46aa37;
	position: relative;
}

.chmp-edit-module-btns {
	position: absolute;
	height: 26px;
	background-color: #46aa37;
	top: -26px;
	left: 0;
	z-index: 100000;
	width: 100%;
	/*opacity: 0;*/
	display: none;
	outline: 1px solid #46aa37;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.chmp-edit-module:hover .chmp-edit-module-btns {
	display: block;
}

.chmp-droptarget {
	width: 100%;
	height: 30px;
	background: #daeed7;
	outline: 1px dashed #46aa37;
}

.chmp-dragicon {
	width: 18px;
	height: 18px;
	background: url(chmpsprites.png) no-repeat 0 -416px;
	background-size: 32px 1000px;
	float: left;
	cursor: ns-resize;
	margin: 3px 0 0 2px;
}

.chmp-deletemodule {
	float: right;
	height: 17px;
	min-width: 17px;
	margin: 4px 4px 0 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #971e0e;
	-webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 -1px rgba(0, 0, 0, .2);
	box-shadow: inset 0 -1px rgba(0, 0, 0, .2);
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.chmp-deletemodule-confirm {
	min-width: 11px;
	height: 11px;
	background: url(chmpsprites.png) no-repeat 0 -32px;
	background-size: 32px 1000px;
	overflow: hidden;
	white-space: nowrap;
	cursor: default;
	margin: 3px 0 0 3px;
}

.chmp-deletemodule-confirm div {
	display: none;
	font-size: 10px;
	color: #fff;
}

.chmp-deletemodule-confirm:hover {
	padding: 0 5px 0 14px;
}

.chmp-deletemodule-confirm:hover div {
	display: block;
}

.chmp-deletemodule-confirm div a {
	color: #fff;
	text-decoration: underline !important;
	cursor: pointer;
	font-weight: bold;
}

.chmp-logout {
	background: url(chmpsprites.png) no-repeat 0 -288px;
	background-size: 32px 1000px;
	width: 16px;
	height: 32px;
	cursor: pointer;
	margin: 9px 0 0 0;
}

/*
Wait cursor
*/
html.chmp-waiting,
html.chmp-waiting * { cursor: wait !important; }


/**
* Copied from :
 * Featherlight – ultra slim jQuery lightbox
 * Version 0.3.1 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2014, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.chmp-featherlight {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 100003;
		height: 100%;
		text-align: center;
		cursor: pointer;
		background: #333;
		background: rgba(0, 0, 0, 0.8);
	}

	.chmp-featherlight .chmp-featherlight-close {
		position: absolute;
		z-index: 9999;
		right: 0px;
		top: 0px;
		line-height: 25px;
		width: 25px;
		cursor: pointer;
		text-decoration: none;
		text-align: center;
		font: Arial, sans-serif;
		background: #fff;
		color: #000;
	}

	.chmp-featherlight:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}

	.chmp-featherlight .chmp-featherlight-content {
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		padding: 0;
		min-width: 1024px;
		min-height: 628px;
		width: 1034px;
		height: 638px;
		max-height: 95%;
		overflow: auto;
		background: #fff;
		cursor: auto;
	}

	.chmp-featherlight .chmp-featherlight-inner {
		display: block;
	}

	.chmp-featherlight-iframe .chmp-featherlight-content {
		min-height: 60%;
	}

	.chmp-featherlight iframe {
		border: none;
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		height: 100%;
		width: 100%;
	}

	.chmp-featherlight .chmp-featherlight-image {
		width: 100%;
		max-height: 85vh;
	}
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - end featherlight */

/*!
* This is an adapted version of
 * ZenPen
 * http://www.zenpen.io
 * MIT licensed
 *
 * Copyright (C) Tim Holman, http://tholman.com
 */

[contenteditable]:focus { outline: 0px solid transparent; }

.chmp_zen_no-overflow {
	overflow: hidden;
	display: block;
	height: 100%;
	width: 100%;
}

/* Used by the ui bubble to stop wrapping */
.chmp_zen_lengthen {
	display: block;
	width: 300px;
	height: 100%;
}

.chmp_zen_useicons {
	font-size: 20px !important;
	font-family: 'icomoon' !important;
}

.chmp_zen_text-options button {
	-webkit-transition: opacity 400ms;
	-moz-transition: opacity 400ms;
	-ms-transition: opacity 400ms;
	-o-transition: opacity 400ms;
	transition: opacity 400ms;
	font-family: inherit;
	background: none;
	cursor: pointer;
	font-size: 25px;
	color: inherit;
	opacity: 0.1;
	padding: 0px;
	height: 32px;
	width: 25px;
	border: 0px;
}

.chmp_zen_text-options {
	-webkit-transition: opacity 250ms, margin 250ms;
	-moz-transition: opacity 250ms, margin 250ms;
	-ms-transition: opacity 250ms, margin 250ms;
	-o-transition: opacity 250ms, margin 250ms;
	transition: opacity 250ms, margin 250ms;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	left: -999px;
	top: -999px;
	color: #fff;
	height: 0px;
	width: 0px;
	z-index: 100001;
	margin-top: 5px;
	opacity: 0;
}

.chmp_zen_text-options.fade {
	opacity: 0;
	margin-top: -5px;
}

.chmp_zen_text-options.active {
	opacity: 1;
	margin-top: 0px;
}

.chmp_zen_options {
	background-color: rgba(0, 0, 0, 0.9);
	position: absolute;
	border-radius: 5px;
	margin-left: -63px;
	margin-top: -46px;
	z-index: 1000;
	padding: 5px 4px 5px 5px;
	width: 125px;
	height: 40px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.chmp_zen_options.chmp_zen_url-mode {
	width: 275px;
	margin-left: -137px;
}

.chmp_zen_options.chmp_zen_url-mode .chmp_zen_bold, .chmp_zen_options.chmp_zen_url-mode .chmp_zen_italic, .chmp_zen_options.chmp_zen_url-mode .chmp_zen_quote {
	width: 0px;
	overflow: hidden;
	margin-right: 0px;
	opacity: 0;
}

.chmp_zen_bold {
	font-weight: bold !important;
}

.chmp_zen_italic {
	font-style: italic !important;
}

.chmp_zen_options button {
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	float: left;
	width: 28px;
	opacity: 0.7;
	height: 30px;
	border-radius: 3px;
	margin-right: 1px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.chmp_zen_options.chmp_zen_url-mode input {
	border-left: 2px solid transparent;
	padding-right: 5px;
	padding-left: 5px;
	width: 236px;
}

.chmp_zen_options input {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	border-radius: 3px;
	overflow: hidden;
	outline: 0px;
	height: 30px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	float: left;
	width: 0px;
}

.chmp_zen_options button.active {
	background-color: rgba(255, 255, 255, 0.4);
	opacity: 1;
}

.chmp_zen_options button:hover {
	opacity: 0.95;
}

.chmp_zen_options:before {
	content: "";
	border-top: 5px solid rgba(0, 0, 0, 0.9);
	border-bottom: 5px solid transparent;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	position: absolute;
	margin-left: -5px;
	bottom: -15px;
	height: 5px;
	width: 0px;
	left: 50%;
}

.chmp_zen_url {
	background: url("chmpsprites.png") no-repeat 5px -765px !important;
	width: 30px !important;
}

/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - end ZenPen
*/